---
import ImageDouble from '@components/ImageComponents/ImageDouble.astro'
import ImageSingleHorizontal from '@components/ImageComponents/ImageSingleHorizontal.astro'
import ImageSingleSquare from '@components/ImageComponents/ImageSingleSquare.astro'
import ImageSingleVertical from '@components/ImageComponents/ImageSingleVertical.astro'
import PageHeader from '@components/PageHeader.astro'
import ProseMarkdown from '@components/ProseMarkdown.astro'
import Section from '@components/Section.astro'
import { getCollection } from 'astro:content'
import LayoutPage from 'src/layouts/LayoutPage.astro'

export async function getStaticPaths() {
  const communicationposts = await getCollection('communicationposts')
  return communicationposts.map((entry) => {
    const entrySlug = entry.data.preview ? entry.slug + '--preview' : entry.slug
    return { params: { slug: entrySlug }, props: { entry } }
  })
}

const { entry } = Astro.props
const { title, subTitle, type, date, preview } = entry.data

const { Content } = await entry.render()
---

<LayoutPage title={`${type}: ${title}`} noindex={preview}>
  <Section>
    <small>{type}</small>
    <PageHeader title={title} subTitle={subTitle} />
    <small>{new Date(date).toLocaleDateString()}</small>
    <ProseMarkdown>
      <Content
        components={{
          ImageSingleHorizontal,
          ImageSingleSquare,
          ImageSingleVertical,
          ImageDouble,
        }}
      />
    </ProseMarkdown>
  </Section>
</LayoutPage>
