---
import Section from '@components/Section.astro'
import TeaserCard from '@components/Teaser/TeaserCard.astro'

import TeasersContainer from '@components/Teaser/TeasersContainer.astro'

import { getCollection } from 'astro:content'
import LayoutPage from 'src/layouts/LayoutPage.astro'

const communicationposts = await getCollection('communicationposts')
const sortedcommunicationposts = communicationposts
  .filter((a) => !a.data.preview)
  .sort((a, b) => {
    return a.data.order - b.data.order
  })
---

<LayoutPage title="Kommunikation">
  <Section>
    <TeasersContainer>
      {
        sortedcommunicationposts.map((post) => {
          const { title, type, teaserText, teaserImage, imageCopyright } = post.data
          return (
            <TeaserCard
              href={post.slug}
              title={title}
              description={teaserText}
              tag={type}
              image={teaserImage}
              imageCopyright={imageCopyright}
              linkText="Weiterlesen"
            />
          )
        })
      }
    </TeasersContainer>
  </Section>
</LayoutPage>
