---
import Hero from '@components/Hero.astro'
import Section from '@components/Section.astro'
import TeaserCard from '@components/Teaser/TeaserCard.astro'

import TeasersContainer from '@components/Teaser/TeasersContainer.astro'

import { getCollection } from 'astro:content'
import LayoutPage from 'src/layouts/LayoutPage.astro'

const communicationposts = await getCollection('communicationposts')
const sortedcommunicationposts = communicationposts
  .filter((a) => !a.data.preview)
  .sort((a, b) => {
    return a.data.order - b.data.order
  })
---

<LayoutPage
  title="Blog Kommunikation"
  description="Blog zur Kommunikation von Radschnellverbindungen in Deutschland."
>
  <Hero
    className="mb-12"
    title="Effiziente Kommunikation für RSV-Projekte"
    subTitle="Unsere kartengestützten Kommunikationsformate unterstützen die transparente und anschauliche Kommunikation bei der Planung von Radschnellverbindungen. Diese Formate erleichtern den Austausch zwischen Behörden, Gemeinden und der Öffentlichkeit und tragen zur Akzeptanz der Projekte bei."
    button
  />
  <Section>
    <TeasersContainer>
      {
        sortedcommunicationposts.map((post) => {
          const { title, type, teaserText, teaserImage, imageCopyright } = post.data
          return (
            <TeaserCard
              href={post.slug}
              title={title}
              description={teaserText}
              tag={type}
              image={teaserImage}
              imageCopyright={imageCopyright}
              linkText="Weiterlesen"
            />
          )
        })
      }
    </TeasersContainer>
  </Section>
</LayoutPage>
