---
import PageHeader from '@components/PageHeader.astro'
import Section from '@components/Section.astro'
import { TeaserCard } from '@components/Teaser/TeaserCard'
import { TeasersContainer } from '@components/Teaser/TeasersContainer'
import { getCollection } from 'astro:content'
import LayoutPage from 'src/layouts/LayoutPage.astro'

const planningposts = await getCollection('planningposts')
const filteredAndSortedPlanningposts = planningposts
  .filter((a) => !a.data.preview)
  .filter((post) => post.data.showOnHome)
  .sort((a, b) => {
    return a.data.order - b.data.order
  })
  .slice(0, 3)
const communicationposts = await getCollection('communicationposts')
const filteredAndSortedCommunicationposts = communicationposts
  .filter((a) => !a.data.preview)
  .filter((post) => post.data.showOnHome)
  .sort((a, b) => {
    return a.data.order - b.data.order
  })
  .slice(0, 3)
---

<LayoutPage>
  <Section>
    <PageHeader title="Radschnellverbindungen" subTitle="bla" />
  </Section>
  <Section>
    <h1>Kommunikation</h1>
    <TeasersContainer>
      {
        filteredAndSortedPlanningposts.map((post) => {
          const { title, type, teaserText, teaserImage, imageCopyright } = post.data
          return (
            <TeaserCard
              href={`/kommunikation/${post.slug}`}
              title={title}
              description={teaserText}
              tag={type}
              image={teaserImage}
              imageCopyright={imageCopyright}
              linkText="Weiterlesen"
            />
          )
        })
      }
    </TeasersContainer>
    <h1>Planungen</h1>
    <TeasersContainer>
      {
        filteredAndSortedCommunicationposts.map((post) => {
          const { title, type, teaserText, teaserImage, imageCopyright } = post.data
          return (
            <TeaserCard
              href={`/kommunikation/${post.slug}`}
              title={title}
              description={teaserText}
              tag={type}
              image={teaserImage}
              imageCopyright={imageCopyright}
              linkText="Weiterlesen"
            />
          )
        })
      }
    </TeasersContainer>
  </Section>
</LayoutPage>
