---
import '@fontsource/overpass'
import { ViewTransitions } from 'astro:transitions'
import { Navigation } from './navigation/Navigation'
import clsx from 'clsx'

const seoDefaultValues = {
  defaultTitle: 'Radschnellverbindungen.info',
  defaultDescription: 'Informationen über Planungen von Radschnellverbindungen in Deutschland.',
  defaultImage: '/social-sharing/default.png',
}

const { defaultTitle, defaultDescription, defaultImage } = seoDefaultValues

type Props = {
  pageLayout?: boolean
  title?: string
  image?: string
  noindex?: boolean
  description?: string | null
}
const { title, noindex = false, description, image, pageLayout }: Props = Astro.props

const seo = {
  title: (title && `${title} | ${defaultTitle}`) || defaultTitle,
  description: description || defaultDescription,
  image: `https://radschnellverbindungen.info${image || defaultImage}`,
}

const pathname = new URL(Astro.request.url).pathname
console.log(pathname)
---

<!doctype html>
<html lang="de" class="h-full">
  <head>
    <meta charset="UTF-8" />
    {noindex && <meta name="robots" content="noindex" />}

    <title>{seo.title}</title>
    <meta property="og:title" content={seo.title} />
    <meta name="twitter:title" content={seo.title} />

    <meta name="description" content={seo.description} />
    <meta property="og:description" content={seo.description} />
    <meta name="twitter:description" content={seo.description} />

    <meta name="image" content={seo.image} />
    <meta property="og:image" content={seo.image} />
    <meta name="twitter:image" content={seo.image} />

    <meta name="twitter:card" content="summary_large_image" />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <ViewTransitions />
  </head>
  <body class="flex min-h-full w-full bg-[#eee] font-sans text-slate-900 antialiased">
    <div
      class={clsx(
        ['relative mx-auto flex min-h-full flex-auto flex-col bg-white'],
        pageLayout && 'max-w-[1440px]'
      )}
    >
      <Navigation fixed={!pageLayout} client:load path={pathname} />
      <slot />
    </div>
  </body>
</html>
